.card-title {
    font-size: 1.2rem;
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
}

@font-face {
    font-family: 'PokemonFont';
    src: url('./fonts/PocketMonk-15ze.ttf') format('truetype');
    /* Adjust the path and format as per your downloaded font */
    /* Add more src declarations for different formats (e.g., woff, woff2) if needed */
}

/* Example of applying the custom font */
.pokemon-font {
    font-family: 'PokemonFont', sans-serif;
    font-size: 80px;
    color: rgb(255, 255, 49);
    -webkit-text-stroke: 5px rgb(49, 124, 134);
}